# Configurações do Banco de Dados
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=mundo_invest
DB_SSLMODE=disable

# Configurações do Pipefy
PIPEFY_API_TOKEN=
PIPEFY_PIPE_ID=
